body {
    background-color: #f5f7fb;
    padding: 15px;
}

.right {
    width: 360px;
    float: left;
    top: 15px;
    bottom: 15px;
    position: absolute;
}

.title svg {
    fill: #495057;
    width: 20px;
}

.title {
    background: #FFF;
    height: 70%;
    text-align: center;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.title h2 {
}

.title li {
    list-style-type: none;
}

.title li a {
    padding: 0.5rem;
    display: block;
}

.title ul {
    padding: 0;
}

.recent {
    height: 30%;
    padding-top: 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.recent .card {
    height: 100%;
    margin: 0;
}

.main {
    padding: 5rem;
    float: left;
    left: 390px;
    top: 15px;
    bottom: 15px;
    right: 15px;
    position: absolute;
    background: #FFF;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    overflow-y: auto;
}

form {    max-width: 560px;
}

.card-revision {
    max-width: 560px;
}
.hide-scroll-parent{
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.hide-scroll-child {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    padding-right: 18px; /* Increase/decrease this value for cross-browser compatibility */
    box-sizing: content-box; /* So the width will be 100% + 17px */
}