body {
    background-color: #f5f7fb;
    padding: 15px;
    font-size: 14px;
}
.right {
    width: 350px;
    float: left;
    top: 15px;
    bottom: 15px;
    position: absolute;
}
.title svg {
    fill: #495057;
    width: 20px;
}
.title {
    background: #FFF;
    height: 70%;
    text-align: center;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}
.title-guest {
    height: 100%;
}
.title h2 {}
.title li {
    list-style-type: none;
}
.title li a {
    padding: 0.5rem;
    display: block;
}
.title ul {
    padding: 0;
}
.recent {
    height: 30%;
    padding-top: 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.recent .card {
    height: 100%;
    margin: 0;
}
.main {
    padding: 5rem;
    float: left;
    left: 380px;
    top: 15px;
    bottom: 15px;
    right: 15px;
    position: absolute;
    background: #FFF;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    overflow-y: auto;
}
.card-revision {
    max-width: 560px;
}
.hide-scroll-parent {
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.hide-scroll-child {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    padding-right: 18px;
    /* Increase/decrease this value for cross-browser compatibility */
    box-sizing: content-box;
    /* So the width will be 100% + 17px */
}
.description {
    border-left: 4px solid #f5f7fb;
}
.summary {
    width: 150px;
    margin: 1rem;
    margin-right: 0.5rem;
}
.summary+.summary {
    margin-left: 0.5rem;
}
.form-login, .form-signup {
    width: 250px;
}
.table tr:first-child td, .table tr:first-child th {
    border-top: 0;
}
#ui-datepicker-div {
    padding: 0.375rem 0.75rem;
    font-size: 0.9375rem;
    line-height: 1.6;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 40, 100, 0.12);
    border-radius: 3px;
}
#ui-datepicker-div th, #ui-datepicker-div td {
    width: 28px;
    text-align: center;
}
.ui-datepicker-header {
    background: #f8f9fa;
    border: 1px solid #e9ecef;
    padding: 5px 11px;
    border-radius: 3px;
    margin-bottom: 1rem;
    text-align: center;
}
.ui-icon.ui-icon-circle-triangle-e, .ui-icon.ui-icon-circle-triangle-w {
    text-indent: -99999px;
    position: absolute;
    width: 16px;
    height: 16px;
    overflow: hidden;
}
.ui-datepicker-prev:before {
    display: block;
    content: "◂";
    float: left;
    padding: 0 0.5rem;
    cursor: pointer;
    margin-left: -0.5rem;
}
.ui-datepicker-next:before {
    display: block;
    content: "▸";
    float: right;
    padding: 0 0.5rem;
    cursor: pointer;
    margin-right: -0.5rem;
}
.features .fe {
    font-size: 2rem;
    display: block;
    text-align: center;
    opacity: 0.5;
    margin: 3rem 0;
}
.shortcuts-overlay {
    width: 340px;
    position: absolute;
    top: 0;
    background: #f5f7fb;
    border-radius: 3px;
    z-index: 5;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    padding: 2rem;
    padding-bottom: 1rem;
    left: 50%;
    margin-left: -170px;
    margin-top: 30px;
}
.shortcut-key {
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    position: relative;
    margin-bottom: 1.5rem;
    width: 100%;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 40, 100, 0.12);
    border-radius: 3px;
    font-size: 1.5rem;
    font-weight: 600;
    float: left;
    padding: 1rem;
    width: 140px;
    text-align: center;
}
.shortcut-label {
    float: left;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-weight: 600;
    padding-top: 22px;
    padding-left: 25px;
    opacity: 0.5;
}
.shortcut {
    width: 100%;
    clear: both;
}
.shortcuts-dim,
.search-dim {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #343a40;
    opacity: 0.2;
    top: 0;
    left: 0;
    z-index: 4;
}

.tr-terminal {
    background-color: rgba(0, 0, 0, 0.02);
    opacity: 0.5;
}

.search-overlay {
    width: 340px;
    position: absolute;
    top: 0;
    background: #f5f7fb;
    border-radius: 3px;
    z-index: 5;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    padding: 2rem;
    padding-bottom: 1rem;
    left: 50%;
    margin-left: -170px;
    margin-top: 30px;
}

.ckeditor-small + .cke #cke_1_contents {
    height: 150px !important;
}
.selectize-input, .selectize-control.single .selectize-input.input-active {
    background: #fff;
    cursor: text;
    display: block !important;
}

.sortable td {
    background: #FFF;
}
.settings-card .fe {
    font-size: 1.5rem;
}
.settings-card span {
    line-height: 2rem;
    padding-left: 1.5rem;
    vertical-align: bottom;
    color: #495057;
}
.settings-card {
    padding: 2rem;
}
.settings-card a:hover {
    text-decoration: none;
    opacity: 0.7;
}